<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/main.css}" rel="stylesheet"/>

    <title th:text="#{label.title}">TQ</title>
</head>
<body class="bg-light">


<div class="container">
    <div class="row text-right">
        <div class="col-sm-9"></div>
        <div class="col-sm-3">
            <br/>
            <button class="btn btn-lg btn-primary" th:text="#{label.logout}">LOGOUT</button>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-3"></div>
        <div class="col-sm-6"><h1 th:text="#{main.label}">LESSONS</h1><br/></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form>
                <select class="form-control">
                    <option th:each="lesson : ${lessons}" th:value="${lesson.getId()}" th:text="${lesson.getName()}"></option>
                </select>
            </form>
            <br/>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <button class="btn btn-lg btn-primary" th:text="#{main.btn.start}">START</button>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}" crossorigin="anonymous"></script>
</body>
</html>